
{% load static %}
<div id="contacto" style="background-color: darkgray;">
     <div class="row">

        <div class="col-md-6 col-sm-12 mt-5">
            <h3 class="display-6 text-center align-ityems-center justify-content-center"><strong><i>¡Visita Nuestras redes sociales!</i></strong></h3>
        </div>
        <div class="col-md-6 col-sm-12">
            <ul class="footer mt-2 p-4">
        
                <li><a  class="enlace-footer" href="https://www.instagram.com/roxanaisag/" target="_blank"><img src="{% static 'assets/instagram.webp'%}" alt="instagram" width="100px" height="50px"></a></li>
                <li><a class="enlace-footer m-3 p-3" href="https://wa.me/51935300838?text=%20Quisiera mas informacion de sus productos" target="_blank"><img src="{% static 'assets/whatsaap.webp'%}" alt="whatsaap" width="100px" height="50px"></a></li>
                <li><a class="enlace-footer m-3 p-3" href="https://www.tiktok.com/@roxsybell?_t=ZM-8vz1BPgIN1y&_r=1" target="_blank"><img src="{% static 'assets/tiktok.jfif'%}" alt="whatsaap" width="100px" height="50px"></a></li>
            </ul>
        </div>
     </div>       
  
</div>
</footer>

